<div class="row">
	<div class="col-xl-8 d-flex align-items-strech">
	<div class="card w-100">
		<div class="card-body p-4">
		<h5 class="card-title fw-semibold">공지사항</h5>
		<p class="card-subtitle mb-0">우리학교 및 사감부에서 알립니다.</p>
		
	</div>
	</div>
	</div>
	<div class="col-xl-4 d-flex align-items-strech">
	<div class="card w-100">
		<div class="card-body p-4">
		<h5 class="card-title fw-semibold">나의 상벌점</h5>

		
		<div class="card shadow-none mb-0">
			<div class="card-body p-0">
			<div class="d-flex align-items-center mb-3">
				<h2 class="fw-semibold mb-0">82 점</h2>
				<div class="ms-auto">
				</div>
			</div>
			<div class="d-flex align-items-center">
				<span class="ms-1">
				<i class="ti ti-arrow-up-left text-success"></i>
				</span>
				<span class="text-dark fs-3 fw-bold ms-1">상벌점 봉사활동 (9/17)</span>
				<span class="text-success fw-bold fs-3 ms-2">(2점)</span>
			</div>
			<button class="btn btn-light-primary text-primary w-100 mt-3"> 전체 내역 조회 </button>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-xl-8 d-flex align-items-strech">
	<div class="card w-100">
		<div class="card-body p-4">
		<div class="d-flex align-items-center justify-content-between">
			<div>
			<h5 class="card-title fw-semibold">탐구활동신청서</h5>
			<p class="card-subtitle mb-0">오늘 예정된 탐활서입니다.</p>
			</div>
		
		</div>
		<div class="card mt-4 mb-0 shadow-none">
			<div class="table-responsive">
			<table class="table mb-0 align-middle text-nowrap">
				<thead>
				<tr>
					<th class="ps-0">참여학생</th>
					<th>일시</th>
					<th>지도교사</th>
					<th>활동장소</th>
				</tr>
				</thead>
				<tbody class="text-dark ">
				<tr>
					<td class="ps-0">
					<div class="d-flex align-items-center gap-3 fw-semibold">
						<img src="../../dist/images/profile/user-1.jpg" class="rounded-circle" alt="user" width="45" /> Alan Walker Origins
					</div>
					</td>
					<td>
					<i class="cc ETH" title="ETH"></i> 18,670.21
					</td>
					<td class="text-danger">-20.38%</td>
					<td>$6.8k</td>
				</tr>
				<tr>
					<td class="ps-0">
					<div class="d-flex align-items-center gap-3 fw-semibold">
						<img src="../../dist/images/profile/user-2.jpg" class="rounded-circle" alt="user" width="45" /> The StarSharks NFTs
					</div>
					</td>
					<td>
					<i class="cc ETH" title="ETH"></i> 15,880.20
					</td>
					<td class="text-success">+15.14%</td>
					<td>$5.8k</td>
				</tr>
				<tr>
					<td class="ps-0">
					<div class="d-flex align-items-center gap-3 fw-semibold">
						<img src="../../dist/images/profile/user-3.jpg" class="rounded-circle" alt="user" width="45" /> Sacred Realm
					</div>
					</td>
					<td>
					<i class="cc ETH" title="ETH"></i> 14,920.20
					</td>
					<td class="text-danger">-10.25%</td>
					<td>$5.2k</td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
		</div>
	</div>
	</div>
	<div class="col-xl-4 d-flex align-items-strech">
	<div class="card w-100">
		<img src="../../dist/images/nft/nft-bg.jpg" class="card-img" alt="nft" />
		<div class="p-4 mt-n4 text-center">
		<div class="position-relative mt-n4">
			<img src="../../dist/images/profile/user-5.jpg" alt="nft" class="rounded-circle border border-3 border-white" width="50" />
		</div>
		<div>
			<h6 class="mb-0 fw-semibold mt-2">The Cat X Takaish</h6>
		</div>
		<div class="d-flex align-items-center justify-content-between mt-2 pb-3 border-bottom">
			<div class="text-start">
			<span class="fs-3">Volume</span>
			<h6 class="mb-0 fw-semibold">90,015.90 USD</h6>
			</div>
			<div class="text-end">
			<span class="fs-3">Floor Price</span>
			<h6 class="mb-0 fw-semibold">40.00 USD</h6>
			</div>
		</div>
		<div class="d-flex align-items-center gap-3 pt-3">
			<div class="round bg-light d-flex align-items-center justify-content-center rounded-circle">
			<i class="cc ETH fs-6"></i>
			</div>
			<div>
			<h6 class="mb-0 fw-semibold">1.23 ETH</h6>
			<span class="fs-2">$12,000</span>
			</div>
			<div class="ms-auto text-end">
			<span class="text-danger">-6.8%</span>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>

<!-- end container fluid -->
